# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/backend/node_modules
/pnpm-lock.yaml

# testing
/coverage

# next.js (frontend app)
/frontend/.next/
/frontend/out/
/frontend/next-env.d.ts

# production
/build
/backend/scripts/.seed-out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
/frontend/.vercel

# typescript
*.tsbuildinfo